<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alterar Usuário</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin/edit-user.css}">
</head>
<body style="background-color: #666666;">
<th:block th:replace="~{fragments/header :: header}"></th:block>

<br/><br/>

<div class="container">
    <div class="row justify-content-center" style="margin-top: 40px;">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Alterar Usuário</h2>
                </div>
                <div class="card-body text-center">
                    <p class="mb-4">
                        Bem-vindo à edição de usuário! Selecione uma opção abaixo:
                    </p>
                    <a class="btn btn-primary me-2"
                       th:href="@{/admin/users/{id}/update-user (id=${id})}">
                        Alterar Usuário
                    </a>
                    <a class="btn btn-warning"
                           th:href="@{/admin/users/{id}/update-password (id=${id})}">
                    Alterar Senha
                </a>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
