<link rel="stylesheet" th:href="@{/css/fragments/footer.css}">

<footer class="bg-dark text-white py-5 mt-5" style="position: static; width: 100%;">
    <div class="container">
        <div class="row text-start">
            <div class="col-md-3">
                <h2 class="mt-0 text-white fs-5">GADUS</h2>
                <p class="small">
                    A GADUS é uma empresa fictícia voltada para soluções inteligentes no mercado de gado e produtos agropecuários. Com tecnologia e compromisso, aproximamos produtores e consumidores.
                </p>
            </div>
            <div class="col-md-3">
                <h3 class="mt-0 text-white fs-6">Suporte</h3>
                <p class="small mb-0">Av. Eng. Eusébio Stevaux, 823</p>
                <p class="small mb-0">Santo Amaro, São Paulo - SP</p>
                <p class="small mb-0">04696-000</p>
                <p class="small mb-0">gadus@gmail.com</p>
                <p class="small">+55 (11) 99999-9999</p>
            </div>
            <div class="col-md-3">
                <h4 class="text-white fs-6">Minha Conta</h4>
                <ul class="list-unstyled small">
                    <li><a href="#" class="text-white text-decoration-none">Meu Perfil</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Pedidos</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Loja</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="text-white fs-6">Links Rápidos</h4>
                <ul class="list-unstyled small">
                    <li><a href="#" class="text-white text-decoration-none">Política de Privacidade</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Termos de Uso</a></li>
                    <li><a href="#" class="text-white text-decoration-none">FAQ</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Contato</a></li>
                </ul>
                <div class="mt-3">
                    <i class="bi bi-facebook mx-1"></i>
                    <i class="bi bi-twitter mx-1"></i>
                    <i class="bi bi-instagram mx-1"></i>
                    <i class="bi bi-linkedin mx-1"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
