@font-face {
    font-family: 'Quicksand';
    src: url('../../fonts/Quicksand-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', Arial, sans-serif;
    background-color: #666666;
}

h2, p, .form-control, .btn-primary, .menu a, .brand-name {
    font-family: 'Quicksand', Arial, sans-serif;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}

.card-body {
    text-align: center;
    padding: 30px;
}

.btn-custom {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.button-container {
    margin-bottom: 15px; /* Espaçamento entre as divs */
}

.btn-custom:hover {
    background-color: #0056b3;
    color: white;
}
