@font-face {
    font-family: 'Quicksand';
    src: url('../../fonts/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../../fonts/Quicksand-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overscroll-behavior: none;
    font-family: 'Quicksand', Arial, sans-serif;
    background-color: #fff;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/cow-field.png");
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', Arial, sans-serif;
}

.login-box {
    background-color: #FAFFFA;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
    font-size: 32px;
    font-family: 'Quicksand-Bold', Arial, sans-serif;
}

p {
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;
}

p a {
    color: #5157FF;
    text-decoration: none;
    font-family: 'Quicksand', Arial, sans-serif;

}

p a:hover {
    text-decoration: underline;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Quicksand', Arial, sans-serif;

}

.input-container label {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Quicksand';
}

.input-container input:focus {
    outline: none;
    box-shadow: none;
}


button {
    font-family: 'Quicksand';
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #228B22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #006400;
}

.sign-up {
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 14px;
    text-align: left;
}

.sign-up a {
    font-weight: bold;
    color: #228B22;
    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: none;
}


