@font-face {
    font-family: 'Quicksand';
    src: url('../../fonts/Quicksand-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', Arial, sans-serif;
}

h2, p, .form-control, .btn-primary, .menu a, .brand-name {
    font-family: 'Quicksand', Arial, sans-serif;
}


.header {
    background-color: #3d4a30;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.brand-name {
    color: white;
}

.header .container {
    max-width: 1200px;
    margin: auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
}

.menu a.active {
    text-decoration: underline;
}

.menu a:hover {
    opacity: 0.8;
}

.search-bar {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.image-container img {
    width: 100%;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    margin-bottom: -70px;
    margin-top: 20px;
}

.form-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 10px;
    font-size: 26px;
}

.form-container p {
    font-size: 14px;
    color: gray;
}

.form-control {
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
}

.btn-primary {
    background-color: #8b1e1e;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #660f0f;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
    color: #c00;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.footer {
    background-color: #3d4a30;
    color: white;
    padding: 40px 0;
    z-index: 2;
    position: relative;
}

.footer h5 {
    color: white;
    font-size: 18px;
}

.footer p {
    font-size: 14px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer img {
    width: 100px;
}
