<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Faça o seu Login - GADUS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin/login.css}">
</head>
<body>

<div class="logo-container">
    <a th:href="@{/home}">
        <img src="/images/logo.png" alt="GADUS Logo">
    </a>
</div>

<div class="container">
    <div class="login-box">
        <h2>Faça o seu Login</h2>
        <p>Entre com seus dados abaixo</p>
        <form method="post" role="form" th:action="@{/login}">
            <div class="input-container">
                <label for="username">E-mail</label>
                <input type="email" id="username" name="username" placeholder="Insira seu e-mail" required>
            </div>
            <div class="input-container">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Insira a senha" required>
            </div>
            <button type="submit">Log In</button>
            <p class="sign-up">Não possui uma conta? <a th:href="@{/register}">Cadastre-se</a></p>

        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
