<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Finalização da compra</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/client/initial-checkout.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main class="container mt-5 mb-5">
    <div class="card shadow-lg p-4 rounded-4">
        <h2 class="mb-4 text-center fw-bold text-primary">Finalização da compra</h2>

        <form th:action="@{/checkout/select-address}" method="post">
            <label for="addressSelect" class="form-label">Escolha o endereço de entrega:</label>
            <select class="form-select mb-2" name="addressId" id="addressSelect" required>
                <option value="" disabled selected>Selecione um endereço</option>
                <option th:each="addr : ${addresses}"
                        th:value="${addr.id}"
                        th:text="${addr.street} + ', ' + ${addr.number} + ' - ' + ${addr.state} + ' - ' + ${addr.cep}">
                </option>
            </select>

            <!-- Botão de adicionar novo endereço -->
            <div class="mb-3 text-end">
                <a th:href="@{/client/addresses/new}" class="btn btn-outline-secondary btn-sm">
                    + Adicionar Novo Endereço
                </a>
            </div>

            <button type="submit" id="submitBtn" class="btn btn-primary" disabled>Escolher Método de Pagamento</button>
        </form>

    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    const addressSelect = document.getElementById('addressSelect');
    const submitBtn = document.getElementById('submitBtn');

    addressSelect.addEventListener('change', function () {
        submitBtn.disabled = !this.value;
    });
</script>

</body>
</html>
